---
import { Card, CardHeader, CardTitle, CardContent, CardDescription, CardFooter } from "./ui/card";
import { Button } from "./ui/button";
import { Check } from "lucide-react";
import { Separator } from "./ui/separator";

interface Props {
    title: String
    projects: { name: String, description: String }[]
    disabled?: boolean
    popular?: boolean
    price?: number
}

const { title, projects, disabled=false, popular=false, price=0 } = Astro.props;
---

<Card className="flex flex-col justify-between relative overflow-hidden">
    {popular && (
        <div class="absolute -right-10 top-8">
            <p class="rotate-45 bg-primary px-10 py-1 text-primary-foreground">Most popular</p>
        </div>
    )}
    <CardHeader>
        <CardTitle>{title}</CardTitle>
        <CardDescription>${price} / month</CardDescription>
    </CardHeader>
    <CardContent>
        <ul class="space-y-2">
            {projects.map((project, index) => {
                return (
                    <li class="flex space-x-2 font-extralight items-center">
                        <div><Check className="text-primary" strokeWidth={1} absoluteStrokeWidth size={15}/></div>
                        <div>
                            <p>{project.name}</p>
                            <p class="text-xs font-extralight">{project.description}</p>
                        </div>
                    </li>
                    <div class="last:hidden">
                        <Separator />
                    </div>
                )
            })}
        </ul>
    </CardContent>
    <CardFooter>
        <Button className="w-full md:w-fit" disabled={disabled}>{!disabled ? <span>Choose {title}</span> : <span>Coming soon</span> }</Button>
    </CardFooter>
</Card>